body{
    margin: 0px 0px 0px 0px;
}

#hero {
    height: 88vh;
    display: flex;
    align-items: center;
    color: #fff;
    background: linear-gradient(45deg, #fe802d 8%, #fe0840 50%, #ac0bd9 90%);
}